.mapbox {
    height: 380px;
    border-radius: 18px;
}

.input-wrapper {
    gap: 30px;
    margin-bottom: 30px;
}

.form-input {
    padding: 15px 20px;
}

textarea.form-input {
    margin-bottom: 30px;
}

.form-btn {
    --fs-6: 16px;
    padding: 16px 20px;
}

.form-btn ion-icon {
    font-size: 18px;
}